
*.jls

densenet_train_result.jls
fnn_linear_train_result.jls
fnn_train_result.jls
icnn_train_result.jls
linear_regressor_train_result.jls
neuralnetODE_train_result.jls
qtp_physics_oracle_train_result.jls
rbf_train_result.jls
resnet_train_result.jls







